@model IEnumerable<StateAssessment.Models.Inventory>

@{
    ViewData["Title"] = "Inventory";
}

<div id="welcome-sec" class="mb-4">
    <div class="container">
        <div id="name-pop">
            <p><b>Hi @User.Identity?.Name!</b> Please complete the following assessments.</p>
        </div>
    </div>
</div>

<div id="quest">
    <div class="container">
        <div class="row">
            @foreach (var item in Model) {
            <div class="col-12">
                <div class="quest-in">
                        <div class="quest-title"><b>@Html.DisplayFor(modelItem => item.SectionName):</b> @Html.DisplayFor(modelItem => item.InventoryName)</div>
                    <div class="quest-option">
                        <div class="quest-info">
                                <div class="total-quest"><img src="icons/question.svg">@Html.DisplayFor(modelItem => item.Questions.Count) Questions</div>
                                @if (item.TimeRequiredInMinutes != null && item.TimeRequiredInMinutes > 0){
                                    <div class="total-time"><img src="icons/timer.svg">@Html.DisplayFor(modelItem => item.TimeRequiredInMinutes) Minute
                                        @if (item.TimeRequiredInMinutes > 1) {<span>s</span>}
                                    </div>
                                }
                            </div>
                        <a href="/inventory/@(item.InventoryId)" class="quest-btn">Start Test</a>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>




@*
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SectionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventoryDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeRequiredInMinutes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentInventory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SectionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InventoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InventoryDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeRequiredInMinutes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentInventory.InventoryId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InventoryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InventoryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InventoryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@